Source: legoev3-uart-sensor-modules
Section: kernel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.5
Homepage: http://lechnology.com
#Vcs-Git: git://git.debian.org/collab-maint/legoev3-uart-sensor-modules.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/legoev3-uart-sensor-modules.git;a=summary

Package: legoev3-uart-sensor-modules
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kernel modules for using LEGO MINDSTORMS EV3 UART Sensors
 Modules include:
 * legoev3_uart.ko: A tty line dicipline (29) that handles communication with
   the sensors
 * msensor_class.ko: Provides a sysfs interface for communicating with LEGO
   MINDSTORMS sesnors.
