Source: lego-modules
Section: kernel
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9), dkms
Standards-Version: 3.9.5
Homepage: http://www.ev3dev.org
Vcs-Git: git://github.com/ev3dev/lego-linux-drivers-dkms.git
Vcs-Browser: https://github.com/ev3dev/lego-linux-drivers-dkms

Package: lego-modules
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Kernel modules for using LEGO MINDSTORMS and LEGO WeDo devices.
 Modules include:
 * ev3_uart_sensor_ld.ko: A tty line discipline (29) that handles communication
   with LEGO MINDSTORMS EV3 sensors.
 * lego_sensor_class.ko: Provides a sysfs interface for communicating with LEGO
   sensors.
